.events__title {
  text-align: center;
  margin-bottom: clamp(1.25rem, 0.417rem + 1.74vw, 2.5rem);
  font-weight: 700;
  line-height: 104%;
  text-transform: uppercase;
  font-size: 72px;
  opacity: 0.39;
  padding-bottom: 8px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
  &.active {
    animation: loaderForDisplayElements 0.8s ease-out;
  }
}

.accordion {
  width: 100%;
  display: flex;
  padding: 0 20px;

  .slide {
    position: relative;
    height: 680px;
    margin-right: 3px;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1200ms;
    overflow: hidden;
    max-width: 85px;

    &.active {
      flex: 10;
      background-position-x: 85px;
      max-width: 100%;

      .slide__line {
        opacity: 1;
      }

      @media (max-width: 1200px) {
        background-position-x: initial;
        max-height: 550px;
      }
    }

    .slide__line {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      height: 100%;
      max-width: 85px;
      opacity: 0.9;
      background: #162c4e;
      padding-bottom: 10px;
      cursor: pointer;
      transition: 0.3s opacity;

      .line__header {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #ffffff;
        writing-mode: vertical-rl;
        white-space: nowrap;
        transform: rotate(180deg);
        bottom: 200px;

        @media (max-width: 1200px) {
          white-space: normal;
          margin-left: 32px;
          writing-mode: initial;
          transform: none;
        }
        @media (max-width: 520px) {
          font-size: 20px;
          margin-left: 18px;
        }
      }

      .line__number {
        margin-top: 20px;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;

        @media (max-width: 1200px) {
          font-size: 32px;
          line-height: 1;
          margin: 0;
        }
      }

      @media (max-width: 1200px) {
        padding: 26px 40px;
        align-items: center;
        justify-content: start;
        flex-direction: row-reverse;
        border-bottom: 4px solid white;
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 100%;
        bottom: 0;
      }
      @media (max-width: 520px) {
        height: 85px;
        padding: 10px;
      }
    }

    .slide__info {
      display: flex;
      flex-direction: column;
      justify-content: end;
      top: 0;
      left: 85px;
      border-left: 1px solid white;
      position: absolute;
      height: 100%;
      width: 364px;
      background: rgba(18, 18, 18, 0.8);
      backdrop-filter: blur(20px);
      padding: 50px 42px;
      overflow: hidden;

      .info__number {
        font-size: 380px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.04);
        position: absolute;
        top: 0;
        left: -35%;
        line-height: 0.9;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      .info__header {
        font-weight: 600;
        font-size: 24px;
        color: #ffffff;

        @media (max-width: 1200px) {
          font-size: 18px;
        }
      }

      .info__date {
        display: block;
        margin-top: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);

        @media (max-width: 1200px) {
          margin-top: 8px;
          font-size: 16px;
        }
      }

      .info__link {
        max-width: fit-content;
        margin-top: 20px;
        color: white;
        display: block;
        border: 2px solid rgba(255, 255, 255, 0.8);
        padding: 20px 56px;
        border-left: 8px solid white;
        text-decoration: none;
        &:hover {
          background-color: #fff;
          color: #000000;
        }
        &:active {
          opacity: 0.7;
        }
        @media (max-width: 1200px) {
          margin-top: 30px;
          padding: 12px 24px;
        }
      }

      @media (max-width: 1200px) {
        top: initial;
        left: 0;
        bottom: 85px;
        width: 100%;
        max-height: 192px;
        padding: 25px 40px;
        border-bottom: 4px solid white;
        border-left: none;
      }
    }

    @media (max-width: 1200px) {
      max-width: 100%;
      max-height: 85px;
      border-left: none;
    }
  }

  @media (max-width: 1200px) {
    display: block;
  }
}
